<div class="comments">
   <ul class="list-group">
  {{#each this}}
  <li class="list-group-item">
  <section class="comment">
    <div class="meta">
     
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  </li>
  {{/each}}
  </ul>
</div>