<div class="container">

<section class="bg-info col-3 p-3">
  <center><h3 class="text-white">Create New Post</h3></center>

  <form class="new-post-form">
    <div>
      <label for="post-title" class="text-white">Title</label></br>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content" class="text-white">Content</label></br>
      <input id="content" name="content"/>
    </div></br>
    <button type="submit" class="btn btn-outline-primary">Create</button>
  </form>
</section>
<section class="col-9"></section>

{{#if posts.length}}
<section>
  <h3>Your Posts</h3>
  <ul class="list-group">
    {{#each posts as |post|}}
    <li class="list-group-item">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
</div>

<script src="/javascript/add-post.js"></script>