<div class="container bg-info text-white">
  <article>
    <a href="/dashboard" class="text-white"> &larr; Back to dashboard</a>
    <p><h3>
      Edit Post
    </h3></p>
    <form class="edit-post-form">
      <div>
        <input name="post-title" type="text" value="{{post.title}}" />
        <span>{{post.content}}</span>
      </div>
      <button type="submit" class="btn-outline-info">Save post</button>
      <button type="button" class="delete-post-btn btn-outline-info">Delete post</button>
    </form>
  </article></br>

  {{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" class="btn-outline-info">add comment</button>
    </div>
  </form>
  {{/if}}
</div>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>